* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}


/* Cookbook proj */

/* HEADER START */


/* HEADER END */



/* HERO START */


/* HERO END */



/* RECIPE HOMEPAGE START */


/* RECIPE HOMEPAGE END */



/* FOOTER START */
  
   .footer-about, .footerfeatures, .footer-links, .footer-contact {
    /* flex: 1; */
    min-width: 200px;
    margin-bottom: 20px;
  }
  
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  .footerfeatures ul {
    list-style: none;
    padding: 0;}
  
  .footer-links ul li a {
    color: #a1a1a4d3;
    text-decoration: none;
  }
  
  .footerfeatures ul li a {
    color: #a1a1a4d3;
    text-decoration: none;
  }



/* FOOTER END */



/* RECEIPE 1 START */


/* RECEIPE 1 END */

/* RECEIPE 2 START */


/* RECEIPE 2 END */

/* RECEIPE 3 START */


/* RECEIPE 3 END */

/* RECEIPE 4 START */


/* RECEIPE 4 END */