* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}


/* Cookbook proj */

/* HEADER START */


/* HEADER END */



/* HERO START */

#herobackground {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    background-image: url('./assets/herobackground.JPG');         
    background-repeat: no-repeat;
    background-size: cover;
}

#heroimagebox {
    width: 50%;
}


#herotext {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 50%;
    padding-top: 5%;
    text-align: center;
    justify-content: center;
    line-height: 40px;
    font-size: 1vw; 
}

#herobutton {
    margin-top: 1vw;
    min-width: 10vw;
    min-height: 2vw;
    margin-bottom: 3vw;

}
    


/* HERO END */



/* RECIPE HOMEPAGE START */


/* RECIPE HOMEPAGE END */



/* FOOTER START */


/* FOOTER END */



/* RECEIPE 1 START */


/* RECEIPE 1 END */

/* RECEIPE 2 START */


/* RECEIPE 2 END */

/* RECEIPE 3 START */


/* RECEIPE 3 END */

/* RECEIPE 4 START */


/* RECEIPE 4 END */