/* Cookbook proj */

/* HEADER START */


/* HEADER END */



/* HERO START */

hero {
    background-image: url(./assets/herobackground.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 3px;
    text-align: center;
    align-items: center;
}


/* HERO END */



/* RECIPE HOMEPAGE START */


/* RECIPE HOMEPAGE END */



/* FOOTER START */


/* FOOTER END */



/* RECEIPE 1 START */


/* RECEIPE 1 END */

/* RECEIPE 2 START */


/* RECEIPE 2 END */

/* RECEIPE 3 START */


/* RECEIPE 3 END */

/* RECEIPE 4 START */


/* RECEIPE 4 END */